<div id="<%= dom_id provider_detail %>">
  <p>
    <strong>Provider NPI:</strong>
    <%= provider_detail.npi %>
  </p>

  <p>
    <strong>Provider Name:</strong>
    <%= provider_detail.name %>
  </p>

  <p>
    <strong>Provider Address:</strong>
    <%= provider_detail.address %>
  </p>

  <p>
    <strong>Provider Type:</strong>
    <%= provider_detail.provider_type %>
  </p>

  <p>
    <strong>Provider Taxonomy:</strong>
    <%= provider_detail.taxonomy %>
  </p>
  <p>
  <strong>Updated:</strong>
  <%= provider_detail.updated_at %>
</p>

</div>
