<div id="<%= dom_id provider_detail %>">
  <p>
    <strong>Enter the NPI:</strong>
    <%= provider_detail.npi %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= provider_detail.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= provider_detail.address %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= provider_detail.type %>
  </p>

  <p>
    <strong>Taxonomy:</strong>
    <%= provider_detail.taxonomy %>
  </p>

</div>
