<h1 class="title">National Provider Index Lookup</h1>
<h2 class="description"> Enter the National Provider Index (NPI) below to find provider details: </h2> 

<%= render "form", provider_detail: @provider_detail %>

<p class="notice">
<%= notice %>
</p>

<br>

<h2 class="description"> Provider Details: </h2> 

<div class="details-table">

  <table>                         
    <tr>                          
      <th>Provider NPI</th>
      <th>Name</th>
      <th>Address</th>
      <th>Taxonomy</th>
      <th>Provider Type</th>
    </tr>
    <% @provider_details.each do |provider_detail| %>    
      <tr>
        <td><%= provider_detail.npi %></td> 
        <td><%= provider_detail.name %></td>  
        <td><%= provider_detail.address %></td>  
        <td><%= provider_detail.taxonomy %></td>  
        <td><%= provider_detail.provider_type %></td> 
      </tr>
    <% end %>                       
  </table>  
  
</div>

<h1>Hello world</h1>               
                                   
<hello-component/>
