<h1 class="title">Provider Details</h1>
<h2 class="description"> Enter the National Provider Index (NPI) in the field below to find the provider details </h2> 

<%= render "form", provider_detail: @provider_detail %>

<br>

<div class="details-table">

  <table>                         
    <tr>                          
      <th>Provider NPI</th>
      <th>Name</th>
      <th>Address</th>
      <th>Taxonomy</th>
      <th>Provider Type</th>
    </tr>
    <% @provider_details.each do |provider_detail| %>    
      <tr>
        <td><%= provider_detail.npi %></td> 
        <td><%= provider_detail.name %></td>  
        <td><%= provider_detail.address %></td>  
        <td><%= provider_detail.taxonomy %></td>  
        <td><%= provider_detail.provider_type %></td> 
        </tr>
        <% end %>                       
  </table>  
  
</div>
