<h1>Provider Details</h1>

<%= render "form", provider_detail: @provider_detail %>

<br>

<p style="color: green"><%= notice %></p>

<div id="provider_details">



<table>                         
<tr>                          
<th>Provider NPI</th>
<th>Provider Name</th>
<th>Provider Address</th>
<th>Provider Taxonomy</th>
<th>Provider Type</th>
<th>Update at</th>
</tr>
<% @provider_details.each do |provider_detail| %>    
  <tr>
  <td><%= provider_detail.npi %></td> 
  <td><%= provider_detail.name %></td>  
  <td><%= provider_detail.address %></td>  
  <td><%= provider_detail.taxonomy %></td>  
  <td><%= provider_detail.provider_type %></td> 
  <td><%= provider_detail.updated_at %></td>   
  </tr>
  <% end %>                       
  </table>  
  
  </div>
